@import '../../../../../app/styles/theme';

.home-foreign-links {
}

.home-foreign-links-icon {
  margin: ($space * 2) 0 ($space / 2);

  font-size: 3rem;
}

.home-foreign-links-title {
  padding-top: 0;
}

.home-foreign-links-description {
}

.home-foreign-links-button {
}
