.image-box {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("../../../assets/images/hero/banner.jpg");
  background-size: cover;
  background-position: center;
  min-height: 45vh;
}
